body {
  background-color: coral;
}
.wrappingConainer {
  display: flex;
  justify-content: center;
}
.inputContainer {
  width: 500px;
  margin-top: 2rem;
}
.todoInput {
  width: 82%;
  display: inline;
  margin-right: 2rem;
}
.todoTitle {
  margin-top: 1rem;
  color: white;
}
.hr {
  color: white;
}
.itemsContainer {
  margin-top: 3rem;
}
.todoItem {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteBtn {
  height: 40px;
}
